.favourites_wrap, .projects-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    height: 450px;
    width: auto;
    background-color: var(--pale-lavender);
    border-radius: 5px;
    box-shadow: var(--shadow_1);
    transition: all 0.3s ease-out;
}

.card_info{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.card_title{
    margin: 0;
}

.card_tags{
    font-size: var(--desktop_tags);
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 15px;
    justify-content: space-between;
    row-gap: 5px;
}

.card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1px;
    filter: grayscale(100%);
    mix-blend-mode: screen;
    position: relative;
    z-index: 5;
    transition: all 0.3s ease-out;
}

.card_img_cover {
    background-color: #343894;
    width: 100%;
    height: 100%;
    
    overflow: hidden;
}

.card_img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9C9EFF;
    mix-blend-mode: multiply;
    z-index: 6;
}

@media (min-width: 1024px) {
    .favourites_wrap, .projects-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 0 30px;
        grid-column: span 3;
    }
				
	.card_img{
				
		
	}

    .card:hover{
        transform: scale(1.05);
        background-color: var(--lime);
        box-shadow: var(--shadow_2);
      
    }

        .card_img:hover {
            filter: none;
            mix-blend-mode: normal;
        }

    
}

.projects-container.loading .card {
    opacity: 0;
}