.wrap{
    padding: 0 20px;
}

/* Hero section styling */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -2;
    /* Send video to the background */
}

.hero-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 20px;
    text-align: center;
    padding-top: 4rem;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(209, 210, 255, 0) 58%, #D1D2FF 100%);
    z-index: -1;
    /* Overlay above the video, below the content */
}

.wrap_home{
    padding-top: 4rem;
}

#about{
    margin-top: 2rem;
}

.about{
    gap: 30px;
}

.about_img{
    display: block;
    animation: about_img 3000ms infinite ease-in-out alternate;
}
.about p{
    margin-top: 2rem;
}
@keyframes about_img {
    from{
        padding-bottom: 1.5rem;
        padding-top: 0;
    }

    to{
        padding-bottom: 0;
        padding-top: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .wrap_home{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .wrap_home h2{
        grid-column: span 3;
    }

    .button_all{
        grid-column: 3;
    }

    .about{
        grid-column: span 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .contact_wrap{
        grid-column: span 3;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
    }

    .contact_wrap form{
        grid-column: 2 / span 4;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .contact_wrap form div{
        grid-column: span 4;
    }

    .hero-content{
        padding-top: 0;
        gap: 1rem;
    }
}